.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  margin-top: 20px;
  z-index: 1; /* Added z-index for stacking */
}

.footer-container {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap */
  justify-content: space-between;
  align-items: flex-start; /* Align items to the start of the cross axis */
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex-basis: calc(50% - 10px); /* Set each section to occupy 50% of the container width with some margin */
  margin-bottom: 20px; /* Add margin between sections */
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.aboutlink {
  color: #fff;
  text-decoration: none;
}

.aboutlink:hover {
  color: #aaa;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  margin-bottom: 10px;
}

.social-links li a {
  color: #fff;
  text-decoration: none;
}

.social-links li a:hover {
  color: #aaa;
}
