/* SignIn.css */

/* SignIn.css */
.signin-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  .signin-container h2 {
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
  }
  
  .input-group input:focus {
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .signup-link {
    margin-top: 10px;
  }
  
  .signUpButton {
    color: #007bff;
    text-decoration: none;
  }
  
  .signUpButton:hover {
    text-decoration: underline;
  }
  